.blogsContainer{
    height:100%;
    background-color: #BE8C63;
    overflow: hidden;
}

.button-knowMore{
    
 
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #5e5df0;
    /* box-shadow: inset 0 0 0 2px #5e5df0; */
    background-color: white;
    height: 48px;
    margin-top: 50px;
    font-size: 1.2rem;

    }
    
.button-knowMore:hover{
      color: #fff;
      background-color: #5e5df0;
  }


.SoilAbout{
    margin-left:5%;
    margin-right: 5%;
    margin-top: 3%;    
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}


.button990 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 1.1rem;
    font-family: inherit;
   }
   
   .button990.learn-more {
    width: 12rem;
    height: auto;
   }
   
   .button990.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #5e5df0;
    border-radius: 1.625rem;
   }
   
   .button990.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .button990.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .button990.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .button990.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .button990:hover .circle {
    width: 100%;
   }
   
   .button990:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .button990:hover .button-text {
    color: #fff;
   }

   .card {
    border-radius: 50px;
    background: white;
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 94%;
    margin-bottom: 10%;

  }