.maindiv{
    background-image: url("../../../img/mainimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.maindiv > div {
    flex: 1;
}


.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #8a8aef 0 10px 20px - 10px;
    box-sizing: border - box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple - system, system - ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans - serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}

.mobile-message{
    display: none;
}

@media (max-width: 768px) {
    body {
      display: none;
    }
    .mobile-message {
      display: block;
      text-align: center;
      padding: 20px;
      font-size: 24px;
      font-weight: bold;
    }
  }