.erodedMassContainer{
    height: 100vh;
    background:#E3CCAE;
    padding-top: 7% ;
    display:flex;
   
}

.erodedMassTextContainer{
    width: 60%;
    padding: 30px;
}

.erodedMassFormContainer{
    width: 40%;
    text-align: center;
    
}

.erodedMassTextContainerHeading{
    font-size: 3rem;
    text-align: center;

}

.erodedMassTextContainerText1{
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
}

.erodedMassTextContainerExample{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5%;
}

.erodedMassCalculatorForm{
    background:white;   
    border-radius: 30px;
    height: 93%;
    width: 93%;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, .2);
    display: block;
    padding: 50px;
}

.erodedMassFormInput{
    height: 8%;
    width: 80%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px;
    margin-bottom: 5%;
}

.erodedMassFormButton{
    appearance: button;
    backface-visibility: hidden;
    background-color:#5E5DF0;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    /* margin-right: 7%; */
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2%;
}

.erodedMassCalculatorInputHeading{
    margin-bottom: 1%;
    font-size: 2.3rem;
}

.erodedMassFormResult{
    font-size: 2rem;
    margin-top: 5%;
}
