.background{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    right: -120px;
    z-index: -1;

}

.resultHeading{
    padding: 10%;
    z-index: 1000;
}